@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}

.page-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-logo {
  width: 140px;
  min-height: 70px;
  margin-right: 30px;
}

.page-header-logo {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 450px;
  list-style-type: none;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  justify-content: flex-end;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-button:last-child {
  margin-left: 20px;
}

.navigation-likes {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/vector-to-hero.svg"), url("../images/hero.jpg");
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-color: #adcee3;
  color: #FFFFFF;
}

.hero-img {
  display: block;
  padding-top: 51px;
  padding-bottom: 82px;
  padding-left: 371px;
  padding-right: 371px;
}

.advantages-heading {
  padding: 69px 274px;
  margin-bottom: 21px;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 25px;
}

.advantages-desc {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  background-color: #83B3D31F;
}

.advantages-item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 400px;
  padding: 102px 85px;
}

.advantages-item-wide {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}

.advantages-caption {
  margin-top: 0;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #333333;
}

.advantages-text-light {
  color: #FFFFFF;
}

.advantages-item-dark {
  background-color: #83B3D333;
}

.advantages-item-light {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-img {
  display: block;
  width: 800px;
}

.features-heading {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 347px;
  padding-right: 347px;
}

.title-features {
  margin-top: 0;
  margin-bottom: 20px;
}

.features-desc {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-item {
  box-sizing: border-box;
  width: 400px;
  padding: 80px 85px;
}

.features-caption {
  margin-top: 104px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.features-text {
  margin: 0;
  text-align: center;
  color: #333333;
}

.features-item-blue {
  background-color: #83B3D31F;
}

.search {
  padding: 96px 304px;
}

.title-search {
  margin-top: 0;
  margin-bottom: 20px;
}

.search-text {
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button-search {
  display: block;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
  padding-left: 258px;
  padding-right: 258px;
}

.title-subscribe {
  margin-top: 0;
  margin-bottom: 20px;
}

.field {
  font-family: inherit;
}

.subscribe-theme {
  background-image: url(../images/subscribe-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #adcee3;
  color: #FFFFFF;
}

.subscribe-text {
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.subscribe-desc {
  display: block;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

.footer-social {
  width: 200px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 48px;
  height: 40px;
}

.footer-contacts {
  width: 720px;
}

.footer-contacts-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.footer-logo {
  display: block;
  width: 115px;
}

.catalog {
  padding-top: 35px;
  padding-bottom: 70px;
  padding-left: 70px;
  padding-right: 70px;
  background-image: url(../images/filter-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #adcee3;
  color: #FFFFFF;
}

.inner-header {
  margin: 0 auto;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  display: block;
}

.breadcrumbs-link:not(:last-child) {
  margin-right: 18px;
}

.catalog-container {
  margin: 0 auto;
}

.catalog-filter {
  display: flex;
}

.catalog-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-group {
  width: 151px;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-group-infrastructure {
  margin-right: 70px;
}

.catalog-filter-group-type {
  margin-right: auto;
}

.catalog-price {
  width: 288px;
  margin: 0;
  padding: 0;
}

.catalog-input {
  font-family: inherit;
}

.choose {
  width: 191px;
  margin-left: 70px;
}

.button-submit {
  background-color: #82B3D3;
}

.button-reset {
  background-color: transparent;
}

.sorting-catalog {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  padding-bottom: 60px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.sort-text {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  margin-left: auto;
  font-family: inherit;
}

.sorting-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 70px;
}

.sorting-btn-item {
  min-width: 48px;
  height: 48px;

  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

/*
.sorting-btn-item:last-child {
  margin-right: 0;
}*/

.hotels-container {
  margin-bottom: 80px;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotels-card {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  color: #333333;
}

.hotels-card:nth-child(3n) {
  margin-right: 0;
}

.hotels-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotels-card-link {
  color: #000000;
}

.button-favourite {
  background-color: #82B3D3;
}

.button-active {
  background-color: #7DB54F;
}

.hotels-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 8px;
}

.pagination-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 12px 12px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-next {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
}
