@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.page-container {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 140px;
  margin-right: 28px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 450px;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-likes {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/vector-to-hero.svg"), url("../images/hero.jpg");
  background-size: contain, 100% auto;
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-color: #adcee3;
  color: #FFFFFF;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-desc {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-item {
  background-color: #83B3D31F;
}

.advantages-caption {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  text-align: center;
  color: #333333;
}

.advantages-text-light {
  color: #FFFFFF;
}

.advantages-item-dark {
  background-color: #83B3D333;
}

.advantages-item-light {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.features-desc {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.features-item {
  width: 400px;
}

.features-caption {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.features-text {
  text-align: center;
  color: #333333;
}

.features-item-blue {
  background-color: #83B3D31F;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

.field {
  font-family: inherit;
}

.subscribe-theme {
  background-image: url(../images/subscribe-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #adcee3;
  color: #FFFFFF;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.footer-social {
  width: 200px;
}

.footer-contacts {
  width: 720px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.footer-logo {
  width: 115px;
}

.catalog {
  background-image: url(../images/filter-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #adcee3;
  color: #FFFFFF;
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.catalog-container {
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter {
  display: flex;
}

.catalog-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-group {
  width: 151px;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-price {
  width: 288px;
  margin: 0;
  padding: 0;
}

.catalog-input {
  font-family: inherit;
}

.choose {
  width: 191px;
}

.button-submit {
  background-color: #82B3D3;
}

.button-reset {
  background-color: transparent;
}

.sort-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
}

.hotels-container {
  display: flex;
  flex-wrap: wrap;
}

.hotels-card {
  margin: 0;
  padding: 0;
  color: #333333;
}

.hotels-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotels-card-link {
  color: #000000;
}

.button-favourite {
  background-color: #82B3D3;
}

.button-active {
  background-color: #7DB54F;
}

.hotels-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-link {
  text-decoration: none;
}
